header{
width: 100%;
height: 200px;
background: linear-gradient(176.03deg, #2ADDD2 8.74%, rgba(196, 196, 196, 0) 165.96%);

}
body{
    background-color: whitesmoke;
}
#heading{

width: 50%;
height: 80px;
margin-left: auto;
margin-right: auto;
background-color: white;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #2ADDD2;



}
header>div{
    padding-top: 45px;
}
#heading>div{
    padding-top: 20px;
}

main{
    margin: 30px;
}


main>div:nth-child(1){

width: 100%;
height: 80px;


background: #2ADDD2 !important;
border: 1px solid #2ADDD2 !important;
box-sizing: border-box;
display: grid;
grid-template-columns: repeat(4, 1fr) !important;
color: white !important;
font-size: 30px;
}
main>.head>div{
    padding: 20px;
}
main>div{
    width: 100%;
    height: 80px;
       
}
main>div:nth-child(even){
    display: grid;
grid-template-columns: repeat(4, 1fr);
color: black;
font-size: 30px;
}
main>div:nth-child(odd){
    display: grid;
grid-template-columns: repeat(4, 1fr);
color: black;
font-size: 30px;
}
main>div:nth-child(odd) {
    background:  rgba(42, 221, 210, 0.19);
  }
  .link, .date, .title{
      font-size: 15px;
      margin: 30px;
  }
  button{
      margin: 20px;
      width: 100px;
      height: 30px;
      background: #2ADDD2;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      color: white;
      cursor: pointer;

  }
  #btn{display: flex;}
  

  .btn2{
    margin-top:20px;
    
}

@media screen and (max-width: 835px) {
    .btn2{
        margin-top:20px;
        
    }
  button{

      margin-left: auto;
      margin-right: auto;
  }

  }
  @media screen and (max-width: 763px) {
    #btn{display: flex;
    flex-wrap: wrap;
margin-top: -10px;
margin-bottom: auto;
    }
    .btn2{
        margin-top: -15px;
    }
}
 
  @media screen and (max-width: 675px) {
    .link, .date, .title, .btn{
        
        margin-left: auto;
        margin-left: auto;
    }

    

  }

  @media screen and (max-width: 486px) {
   button{
    margin: 15px;
    max-width: 100px;
    height: 30px;
    font-size: 10px;
   }

    
    
  }